body, header, nav, main, footer, aside {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

header {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 8, 8);
    border: 5px solid rgb(0, 0, 0);
    text-decoration: none;
}

.header .name a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 200px;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(95, 95, 95);
}

main img {
    display: block;
    width: 100%;
    height: 50%;
    background-size: cover;
}

main table {
    display: block;
    padding: 10px;
    border: 1px solid;
    justify-content: center;
}

main p {
    display: inline;
    justify-content: center;
}